@import url(//fonts.googleapis.com/css2?family=Google+Sans);  /* go/NOTYPO */
@import url(//fonts.googleapis.com/css2?family=Google+Sans+Text);  /* go/NOTYPO */

html, body {
  height: 100%;
  margin: 0;
  background-color: white;
}

body{
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: white;
  color: rgb(32, 33, 36);
  font-family: 'Google Sans', Arial, sans-serif;
}

.bibtex-container {
    /* max-height: 200px; 或者你需要的任何高度 */
    overflow-y: auto; /* 垂直方向上超出时显示滚动条 */
    width: 100%; /* 或者指定一个宽度 */
    background-color: #f5f5f5; /* 浅灰色背景 */
    padding: 10px; /* 添加一些内边距 */
    font-size: 15px;
}

.block{
  margin: 30px 0;
  width: min(900px, calc(100% - 60px));
}

.image-block{
  margin: 40px 0;
  width: 100%;
}

.image-block > .image {
  width: 20%;
  /* height: 768px; */
  float: left;
}

.editing-block{
  display: flex;
  margin: 10px;
}

.editing-block > .image{
  width: 35%;
  height: 100%;
}

.editing-block > .prompts{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.prompts > .prompt{
  cursor: pointer;
  margin:  3pt;
  text-align: center;
}

.prompts > .selected{
  color: rgb(66, 133, 244);
  font-weight: bold;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 60px;
  color: rgb(66, 133, 244);
  margin: 10px;
  text-align: center;
}

.subtitle{
  font-size: 30px;
  margin: 10px;
  text-align: center;
}

.section-title {
  color: rgb(66, 133, 244);
  font-size: 28px;
}

.paragraph {
  font-family: 'Google Sans Text', Arial, sans-serif;
  max-width: 900px;
  line-height: 1.7em;
  font-size: 19px;
  text-align: justify;
}

.author {
    font-family: 'Google Sans Text', Arial, sans-serif;
    max-width: 900px;
    line-height: 1.7em;
    font-size: 19px;
    text-align: center;
  }

b {
  color: rgb(66, 133, 244);
  /* color: rgb(32, 33, 36); */
}

.button {
  font-family: 'Google Sans', Arial, sans-serif;
  border: 1px solid rgb(32, 33, 36);
  width: fit-content;
  padding: 14px 28px;
  border-radius: 5px;
  margin-top: 35px;
  margin-right: 20px;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: flex-end;
}

.button-container {
  display: flex;
}

.button:hover{
  background-color: rgba(66, 133, 244, 0.3);
}

a {
  text-decoration: none;
  color: rgb(66, 133, 244);
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.3em;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

c {
    color: rgb(32, 33, 36);
}

/* style.css */
.gif-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gif-display-in, #gif-display-out {
    max-width: 900px; /* Adjust as needed */
    margin: 10px;
}

#left-button-in, #right-button-in, #left-button-out, #right-button-out {
    background-color: #f0f0f0; /* 按钮背景色 */
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%; /* 使按钮边缘变圆 */
    width: 50px; /* 设置按钮宽度 */
    height: 50px; /* 设置按钮高度 */
    min-width: 50px; /* 设置最小宽度 */
    min-height: 50px; /* 设置最小高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1; /* 调整行高以帮助文本居中 */
    margin: 0 10px; /* 为了与图像保持一定的距离 */
}

#left-button-in:hover, #right-button-in:hover, #left-button-out:hover, #right-button-out:hover {
    opacity: 0.5; /* 鼠标悬停时的透明度 */
}